#names{
    width: 200px;
    height: 18px;
    margin-left: 0.7cm;
}

#phone{
    width: 200px;
    height: 18px;
    margin-left: 0.16cm;
}
#email{
    width: 200px;
    height: 18px;
    margin-left: 0.4cm;
}